<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ClienteCTRL</servlet-name>
        <servlet-class>br.com.Marrone.ctrl.ClienteCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorCTRL</servlet-name>
        <servlet-class>br.com.Marrone.ctrl.FornecedorCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoCTRL</servlet-name>
        <servlet-class>br.com.Marrone.ctrl.ProdutoCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoCTRL</servlet-name>
        <servlet-class>br.com.Marrone.ctrl.PedidoCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoItemCTRL</servlet-name>
        <servlet-class>br.com.Marrone.ctrl.PedidoItemCTRL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteCTRL</servlet-name>
        <url-pattern>/ClienteCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorCTRL</servlet-name>
        <url-pattern>/FornecedorCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoCTRL</servlet-name>
        <url-pattern>/ProdutoCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoCTRL</servlet-name>
        <url-pattern>/PedidoCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoItemCTRL</servlet-name>
        <url-pattern>/PedidoItemCTRL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
